body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111111;
    background: rgba(255, 255, 255, 0.8) url('image/pexels-mikhail-nilov-8296977.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    /* Цвет фона */
}

/* Стили для заголовка в header */
header {
    background: linear-gradient(135deg, #000000, #8d8d8d);
    /* Цвет фона заголовка */
    color: #ffffff;
    /* Цвет текста заголовка */
    text-align: center;
    padding: 20px 0;
    /* Внутренние отступы сверху и снизу */
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Тень текста */
    margin: 0;
    /* Убираем внешние отступы */
}

/* Стили для контактной информации в header */
.contact-info {
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
    /* Отступы между параграфами */
}

/* Стили для навигации */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    /* Цвет ссылок в навигации */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    /* Подчеркивание ссылок при наведении */
}


section {
    padding: 40px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
}

#omnie {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#omnie img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
}

h2 {
    color: #070707;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

blockquote {
    border-left: 5px solid #090b0f;
    margin: 20px 0;
    padding-left: 10px;
    font-style: italic;
}

blockquote cite {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    /* Пример фиксированной высоты */
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.mySlides {
    display: none;
}

.slide {
    min-width: 100%;
    text-align: center;
}

.slide img {
    max-width: 100%;
    /* Изображение займет максимальную доступную ширину */
    height: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    background-color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.call-button,
.facebook-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.centered {
    text-align: center;
}

.call-button {
    background-color: #007BFF;
}

.call-button:hover {
    background-color: #0056b3;
}

.facebook-button {
    background-color: #3b5998;
}

.facebook-button:hover {
    background-color: #2d4373;
}

footer {
    background: linear-gradient(135deg, #000000, #3b3a3a);
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .dot {
        /* стили для точек на мобильных устройствах */
        height: 10px;
        width: 10px;
        /* другие стили */
    }
}

nav ul {
    text-align: center;
}

nav ul li {
    display: block;
    margin: 5px 0;
}

form {
    width: 90%;
    margin: 0 auto;
}

#omnie img {
    width: 100px;
    height: 100px;
}

.prev,
.next {
    display: none;
    /* Скрыть кнопки на мобильных устройствах */
}

.numbertext,
.text {
    display: none;
    /* Скрыть текст и номера на мобильных устройствах */
}

.dot {
    /* стили для точек на мобильных устройствах */
    width: 10px;
    height: 10px;
    /* другие стили */
}


.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.2);
}